{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="table table-bordered">
        <thead>
            <td> <strong> Id  </strong> </td>
            <td> <strong> User </strong> </td>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.username }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% if is_granted("ROLE_ADMIN") %}
    <a href = "{{ path('product_viewAdmin') }}">Admin View</a>
{% endif %}
{% endblock %}
