{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UserCart</h1>

    <table class="table table-bordered">
        <thead>
            <th> ID </th>
            <th> Submitted </th>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td> 
                    {% if entity.submitted == '1' %}
                        YES
                    {% else %}
                        <strong> NO </strong>
                    {% endif %} 
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usercart') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usercart_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href = "{{ path('product_viewAdmin') }}">
            Admin View
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>


{% endblock %}
