{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category</h1>

    <table class="table table striped">
        <thead>
            <th>Id</th>
            <th>Category Name</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.categoryName }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('category_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% if is_granted("ROLE_ADMIN") %}
    <a href = "{{ path('product_viewAdmin') }}">Admin View</a>
{% endif %}
{% endblock %}
